.checkout-page {
    width: 70vw;
    margin: 50px auto;

    flex-direction: row;
}

.checkout-header {
    width: 100%;
    display: grid;
    font-size: 1.2rem;
    font-weight: 700;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 1.2em;
}

.header-block {
    display: flex;
    width: 23%;
}

.header-block:nth-child(5) {
    width: 8%;
}

.total {
    font-size: 1.8rem;
    font-weight: 700;
}

.total-checkout {
    margin-left: 45vw;
}

@media(max-width: 450px) {
    .checkout-header {
        display: none;

    }

    .total {
        font-size: 1.2rem;
    }

    .total-checkout {
        margin-left: 15vw;
    }
}