.collection-item {
    display: flex;
    height: 400px;
    width: 22vw;
    flex-direction: column;
    border: 1px solid black;
    position: relative;
}

.image {
    width: 100%;
    height: 85%;
    background-size: cover;
    background-position: center;
}

.name {
    font-size: .87rem;
    font-weight: 700;
}

.currency {
    font-weight: 1000;
}

.price-tag {
    display: flex;
    flex-direction: column;
}

.price {
    font-weight: 500;
}

.old-price {
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: line-through;
}

.collection-footer {
    height: 15%;
    display: flex;
    margin: 4px;
    justify-content: space-between;
    align-items: center;
}

#cart-button {
    position: absolute;
    top: 270px;
    padding: 10px 35px;
    opacity: 0;
}

.image:hover ~ #cart-button {
    opacity: 1;
}

#cart-button:hover {
    opacity: 1;
}

.image:hover {
    opacity: 0.8;
}

@media (max-width: 380px) {
    .collection-item {
        width: 80%;
        margin-bottom: 15px;
    }

    #cart-button {
        opacity: 1;
    }
}