.cart-dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    width: 20vw;
    height: 320px;
    padding: 10px;
    background-color: white;
}

.cart-items {
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#checkoutbutton {
    margin-left: 40px;
    border: 1px solid black;
}
