.cart-dropdown {
    position: absolute;
    top: 79px;
    right: 0;
    width: 20vw;
    height: 320px;
    padding: 10px;
    background-color: rgba(189, 133, 233, 1);
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}

.cart-items {
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#checkoutbutton {
    margin-left: 40px;
    border: 1px solid black;
}

.empty-message {
    margin: auto auto;
    color: white;
}

@media(max-width: 450px) {
    .cart-dropdown {
        width: 80vw;
        top: 60px;
    }
}