*,
*::before,
*::after {
    box-sizing: border-box;
}

.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(81.7deg, #4F3782 27.64%, #9160C6 67.47%, #BD85E9 83.82%);
    /* height: 5em; */
}

.option {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-right: 1em;
    cursor: pointer;
    margin-left: 5em;
}

.body {
    padding: 0;
    margin: 0;
}

/* navigation */

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 50em) {
    .primary-navigation {
            display: none;
        }

    .primary-navigation[data-visibile] {
        display: block;
        position: fixed;
    }
        
    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: none;
        border: 0;
        padding: 0.5em;
    }

    .mobile-nav-toggle .icon-close {
        display: none;
    }

    .logo {
        width: 70%;
        height: 10%;
        padding: .2em;
        margin-left: .4em;
    }
}

.opened {
    display: block;
    position: fixed;
}

/*Utility classes*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;

}