*,
*::before,
*::after {
    box-sizing: border-box;
}

.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(81.7deg, #4F3782 27.64%, #9160C6 67.47%, #BD85E9 83.82%);
    /* height: 5em; */
}

.nav-list {
    display: flex;
}

.option {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-right: 1em;
    cursor: pointer;
    margin-left: 5em;
}

.body {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* navigation */

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 50em) {
    .primary-header {
        display: grid;
        grid-template-columns: 1em 200px auto auto;
        justify-items: end;
    }

    .primary-navigation {
            display: none;
            position: absolute;
            inset: 4em 1em auto;
            background: white;
            padding: 2em 0 2em 0;
            border: 3px solid #4F3782;
            border-radius: 1em;
            box-shadow: 1px 1px .5em black;
    }

    .nav-list {
        display: grid;
        gap: 2em;
        text-align: center;
        direction: column;
    }

    .nav-list a {
        color: black;
        font-weight: 700;
    }

    .nav-list a:hover,
    .nav-list a:focus {
        color:#4F3782
    }

    .primary-navigation[data-visibile] {
        display: block;
        position: fixed;
    }
        
    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: none;
        border: 0;
        padding: 0.5em;
        grid-column: -1 / -2;
    }

    .mobile-nav-toggle .icon-close {
        display: none;
    }

    .logo-container {
        width: 110%;
        grid-column: 2 / 3;
    }
    .cart-icon {
        grid-column: -2 / -3;
        grid-row: 1;
        margin-bottom: .4em;
    }

    .logo {
        width: 100%;
        height: 100%;
    }
}

.opened {
    display: block;
    position: fixed;
}

/*Utility classes*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;

}