.checkout-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content;
    align-items: center;
}


.image-container {
    width: 70%;
    padding: 5px;
    grid-column: 1;
}


.name-checkout{
    grid-column: 2 / 3;
}
.item-checkout {
    width: 100%
}

.remove-button-checkout {
    cursor: pointer;
}

.quantity-checkout {
    display: flex;
    gap: 10px;
}

.arrow {
    cursor: pointer;
}

@media(max-width: 400px) {
    .checkout-item {
        display: flex;
        flex-direction: column;
    }
}