.menu-item {
    display: flex;
    width: calc((100vw - 100px) / 3);
    height: 250px;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
}


.menu-item:hover .content {
    opacity: 0.9;

}

.menu-item:hover .content,
.menu-item:focus .content {
  transform: scale(1.2);
}

.content {
    transition: all .5s;
    cursor: pointer;
}

.large {
    width: calc((100vw - 80px) / 2);
    height: 350px;
}



.title {
    margin: -2px -2px;
}

.content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-items: center;
    height: max-content;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    opacity: 0.5;
}

.content:hover {
    opacity: 0.8;
}

@media (max-width: 450px) {
    .directory-menu{ 
        align-items: center;
        gap: 0;
    }

    .menu-item {
        width: 100%;
    }

    .large {
         width: 100vw;
         height: 250px;
    }

}