.menu-item {
    display: flex;
    width: calc((100vw - 100px) / 3);
    height: 250px;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
}


.menu-item:hover .content {
    opacity: 0.9;

}

.menu-item:hover .content,
.menu-item:focus .content {
  transform: scale(1.2);
}

.content {
    transition: all .5s;
    cursor: pointer;
}

.large {
    width: calc((100vw - 80px) / 2);
    height: 350px;
}



