.intro2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .2em;
    margin-bottom: 4em;

}

.p {
    padding: 0;
    margin: 0;
}

.intro2-title {
    font-size: 1.7rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.intro2-content {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}


.first-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
    overflow: hidden;
}

.image1,
.image2,
.image3 {
    width: 40%;
    height: 182px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 8px 5px 2px black;
    border-radius: 2px;
}


.image1 {
    background-image: url("https://images.unsplash.com/photo-1612215326956-c2bb6228c72d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGRyZXNzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=600&q=60");
    margin-right: -1.2em;
    transform: translateX(-100vw);
    transition: 3s ease;
    opacity: .3;
    z-index: -2;
}

.image1.active {
    transform: translateX(0px);
    opacity: 1;
}

.image2 {
    background-image: url("https://images.unsplash.com/photo-1597633125184-9fd7e54f0ff7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
    margin-top: 1.3em;
    z-index: -1;
    transform: translateX(200px);
    transition: 3s ease;
    opacity: .3;
    overflow-x:hidden;
}

.image2.active {
    transform: translateX(0px);
    opacity: 1;
}

.image3 {
    background-image: url("https://images.unsplash.com/photo-1630918489439-e515f0601a36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    height: 174px;
    background-position: center;
    margin-top: -1.7em;
    transition: 3s ease;
    transform: translateY(50px);
    opacity: .3;
}

.image3.active {
    transform: translateX(0px);
    opacity: 1;
}


@media (min-width: 450px) {
    .image1,
    .image2,
    .image3 {
        width: 23%;
        height: 300px;
        background-position: center;
    }

    .image1 {
        width: 27%;
        height: 400px;
        transform: translateX(-300px);
        transition: 5s ease;
    }

    .image2 {
        width: 27%;
        height: 350px;
        margin-left: -2em;
        transition: 5s ease;
    }

    .image3 {
        width: 27%;
        height: 350px;
        margin-top: -4.5em;
        margin-left: 7em;
        transition: 4s ease;
    }

    .intro2-title {
        font-size: 2rem;
    }

    .content-container {
        flex-direction: row;
        gap: .7em;
    }

    .intro2-content {
        font-weight: 700;
        font-size: 1.8rem;
    }
}