.cart-item {
    display: flex;
    margin-top: 2px;
    margin-bottom: 3px;
}

#drop-down-item {
    width: 30%;
}

.namee {
    font-size: .8rem;
    align-self: center;
    font-weight: 700;
    padding-left: 5px;
}

.pricee {
    font-size: .8rem;
    align-self: center;
    font-weight: 700;
}